<form (ngSubmit)="onSubmit()">
    <fieldset class="form-group btn-group">
        <label class="btn btn-default"
            [(ngModel)]="score.contract.level" (ngModelChange)="tricksFixup()" [btnRadio]="0">Pass</label>
        <label *ngFor="let level of [1, 2, 3, 4, 5, 6, 7]" class="btn btn-default"
            [(ngModel)]="score.contract.level" (ngModelChange)="tricksFixup()" [btnRadio]="level">{{level}}</label>
    </fieldset>
    <fieldset *ngIf="score.contract.level" class="form-group btn-group">
        <label *ngFor="let suit of _suits" class="btn btn-default" [(ngModel)]="score.contract.suit" [btnRadio]="suit">
            <suit [suit]="suit"></suit>
        </label>
    </fieldset>
    <fieldset *ngIf="score.contract.level" class="form-group btn-group">
        <label class="btn btn-default" [(ngModel)]="score.contract.doubled"
            (ngModelChange)="doubleFixup($event)" btnCheckbox>X</label>
        <label class="btn btn-default" [(ngModel)]="score.contract.redoubled"
            (ngModelChange)="redoubleFixup($event)" btnCheckbox>XX</label>
    </fieldset>
    <fieldset *ngIf="score.contract.level" class="form-group btn-group">
        <label *ngFor="let declarer of ['N', 'S', 'E', 'W']" class="btn btn-default"
            [(ngModel)]="score.contract.declarer" [btnRadio]="declarer">{{declarer}}</label>
    </fieldset>
    <fieldset *ngIf="score.contract.level" class="form-group btn-group">
        <label class="btn btn-default" (click)="changeTricks(-1)">-</label>
        <label class="btn bg-info">{{tricksDisplay}}</label>
        <label class="btn btn-default" (click)="changeTricks(1)">+</label>
    </fieldset>
    <div class="form-group">
        <panel *ngIf="!score.contract.level" style="font-size: 18px">Pass</panel>
        <panel *ngIf="score.contract.level" style="font-size: 18px">
            {{score.contract.level}}<suit *ngIf="score.contract.suit != undefined" [suit]="score.contract.suit"></suit>
            <span *ngIf="score.contract.doubled">X&nbsp;</span><span *ngIf="score.contract.redoubled">XX&nbsp;</span>
            {{score.contract.declarer}}&nbsp;{{tricksDisplay}}&nbsp;&nbsp;&nbsp;<strong>{{computedScore}}</strong>
        </panel>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="!isValid">Accept</button>
    </div>
</form>
