<div>
    <table>
        <tr>
            <lanfeust-bridge-suit [suit]="Suit.Spades"></lanfeust-bridge-suit>
            <span *ngFor="let card of hand.spades"> {{card}}</span>
        </tr>
        <tr>
            <lanfeust-bridge-suit [suit]="Suit.Hearts"></lanfeust-bridge-suit>
            <span *ngFor="let card of hand.hearts"> {{card}}</span>
        </tr>
        <tr>
            <lanfeust-bridge-suit [suit]="Suit.Diamonds"></lanfeust-bridge-suit>
            <span *ngFor="let card of hand.diamonds"> {{card}}</span>
        </tr>
        <tr>
            <lanfeust-bridge-suit [suit]="Suit.Clubs"></lanfeust-bridge-suit>
            <span *ngFor="let card of hand.clubs"> {{card}}</span>
        </tr>
    </table> 
</div>