<div>
    <table>
        <tr>
            <span style="color: darkBlue">&nbsp;&spades;&nbsp;</span><span *ngFor="#card of hand.spades"> {{card}}</span>
        </tr>
        <tr>
            <span style="color: red">&nbsp;&hearts;&nbsp;</span><span *ngFor="#card of hand.hearts"> {{card}}</span>
        </tr>
        <tr>
            <span style="color: orangeRed">&nbsp;&diams;&nbsp;</span><span *ngFor="#card of hand.diamonds"> {{card}}</span>
        </tr>
        <tr>
            <span style="color: darkGreen">&nbsp;&clubs;&nbsp;</span><span *ngFor="#card of hand.clubs"> {{card}}</span>
        </tr>
    </table> 
</div>