<!--<table style="table-layout: fixed; width: 400px">-->
<div class="container table-responsive">
    <div class="no-gutter">
        <div class="row">
            <div class="col-4 offset-4 col-md-2 offset-md-5">
                <lanfeust-bridge-hand *ngIf="deal" [hand]="deal.hands.north"></lanfeust-bridge-hand>
            </div>
        </div>
        <div class="row">
            <div class="col-4 col-md-2 offset-md-3">
                <lanfeust-bridge-hand *ngIf="deal" [hand]="deal.hands.west"></lanfeust-bridge-hand>
            </div>
            <div class="col-4 col-md-2"><canvas #table height="80" width="80"></canvas></div>
            <div class="col-4 col-md-2">
                <lanfeust-bridge-hand *ngIf="deal" [hand]="deal.hands.east"></lanfeust-bridge-hand>
            </div>
        </div>
        <div class="row">
            <div class="col-4 offset-4 col-md-2 offset-md-5">
                <lanfeust-bridge-hand *ngIf="deal" [hand]="deal.hands.south"></lanfeust-bridge-hand>
            </div>
        </div>
    </div>
    <br/>
    <lanfeust-bridge-scores *ngIf="deal && deal.scores && deal.scores.length > 0"
        [scores]="deal.scores" [tournamentId]="tournamentId" [individual]="individual">
    </lanfeust-bridge-scores>
    <ul class="nav nav-fill">
        <li class="nav-item">
            <a *ngIf="id > 1" class="nav-link float-left" [routerLink]="['/tournament', tournamentId, 'deal', id - 1]" [queryParams]="individual ? {individual: true} : {}">Previous</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/tournament', tournamentId]">Up</a>
        </li>
        <li class="nav-item">
            <a *ngIf="hasNext" class="nav-link float-right" [routerLink]="['/tournament', tournamentId, 'deal', id + 1]" [queryParams]="individual ? {individual: true} : {}">Next</a>
        </li>
    </ul>
</div>
