<h2 class="text-center">Tournament {{_tournament ? _tournament.name : tournamentName}}</h2>
<p class="text-center" *ngIf="_tournament">Created on : {{_tournament.date.toLocaleDateString('en-US')}}</p>
<h3 class="text-center" *ngIf="_tournament && running">
    <span class="text-primary">Now Running</span>
</h3>
<!--<p class="text-center">{{diagnostic}}</p>-->
<div class="container" *ngIf="_tournament">
    <tabset>
        <tab heading='Infos'>
            <form (ngSubmit)="onSubmit()" #tournamentForm="ngForm">
                <fieldset *ngIf="true" [disabled]="!_edit">
                    <!-- *ngIf is a workaround for a known angular2 bug -->
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" [(ngModel)]="_tournament.name"
                               placeholder="Tournament name" ngControl="name" required #name="ngForm">
                        <div [hidden]="name.valid" class="alert alert-danger">
                            Name is required
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="movement">Movement</label>
                        <select class="form-control" required [(ngModel)]="movement">
                            <option *ngFor="let m of _knownMovements" [value]="m.name">{{m.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="scoring">Scoring</label>
                        <select class="form-control" required [(ngModel)]="_tournament.scoring">
                            <option *ngFor="let s of _knownScorings" [value]="s">{{s}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="tables">Number of tables</label>
                        <input type="number" [disabled]="fixedNbTables" class="form-control" [(ngModel)]="_tournament.nbTables" required>
                    </div>
                    <div class="form-group">
                        <label for="rounds">Number of rounds</label>
                        <input type="number" class="form-control" [(ngModel)]="_tournament.nbRounds" required>
                    </div>
                    <div class="form-group">
                        <label for="dealsPerRound">Number of deals per round</label>
                        <input type="number" class="form-control" [(ngModel)]="_tournament.nbDealsPerRound" required>
                    </div>
                </fieldset>
            </form>
        </tab>
        <tab heading="Play" *ngIf="running && _currentRound < _tournament.nbRounds && _currentPosition">
            <h4>Round {{_currentRound + 1}} : Table {{_currentPosition.table}},
                N : {{_tournament.players[_currentPosition.north].name}}, S : {{_tournament.players[_currentPosition.south].name}},
                E : {{_tournament.players[_currentPosition.east].name}}, W : {{_tournament.players[_currentPosition.west].name}}</h4>
            <div class="form-group">
                <label for="player">Player</label>
                <select class="form-control" required [(ngModel)]="_currentPlayer" (ngModelChange)="initializeScore(true)">
                    <option *ngFor="let p of players; let i = index" [value]="i">{{p.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="deal">Deal</label>
                <select class="form-control" required [(ngModel)]="currentDeal" (ngModelChange)="initializeScore(false)">
                    <option *ngFor="let d of roundDeals" [value]="d">#{{d}}</option>
                </select>
            </div>
            <score-form *ngIf="_scoreDisplayed" [(score)]="_currentScore" (validated)="scoreValidated()"></score-form>
            <div *ngIf="_currentRound < _tournament.nbRounds - 1" class="form-group">
                <button class="btn btn-primary" [disabled]="!roundFinished" (click)="nextRound()">Next Round</button>
            </div>
        </tab>
        <tab heading="Play" *ngIf="running && _currentRound >= _tournament.nbRounds">
            <h4>All rounds Finished</h4>
        </tab>
        <tab heading="Players" *ngIf="_tournament.players">
            <div *ngIf="!finished && !_edit" class="list-group">
                <a [routerLink]="['Tournament', { id: _tournament.id }]" class="list-group-item"
                    *ngFor="let player of players; let i = index">Player {{i + 1}} : {{player.name}}</a>
                <!--<a [routerLink]="['User', { name: player?.name }]" class="list-group-item" *ngFor="let player of _tournament.players">{{player?.name}}</a>-->
            </div>
            <div *ngIf="finished">
                <table class="table-striped table-bordered table-hover col-xs-12">
                    <thead>
                        <th style="width: 20%">#</th>
                        <th style="width: 50%">Name</th>
                        <th style="width: 30%">Score</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let player of sortedPlayers">
                            <td>{{player.rank}}</td>
                            <td><a [routerLink]="['Tournament', { id: _tournament.id }]">{{player.name}}</a></td>
                            <td>{{player.score.toFixed(2)}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <form *ngIf="_edit" class="list-group form-horizontal">
                <div *ngFor="let player of players; let i = index" class="list-group-item row from-group">
                    <label for="player" class="control-label col-xs-3">Player {{i + 1}}</label>
                    <div class="col-xs-9">
                    <input type="text" class="form-control" [(ngModel)]="player.name" placeholder="Player name">
                    </div>
                </div>
            </form>
        </tab>
        <tab heading="Deals" *ngIf="finished && nbDeals > 0">
            <div class="list-group">
                <a [routerLink]="['Deal', { tournamentId: _tournament.id, dealId: deal.id }]" class="list-group-item" *ngFor="let deal of deals">Deal {{deal.id}}</a>
            </div>
        </tab>
    </tabset>
    <div [hidden]="!_edit || isValid" class="alert alert-danger">
        {{_invalidReason}}
    </div>
    <div class="form-group">
        <button *ngIf="_edit" class="btn btn-primary" [disabled]="!tournamentForm.form.valid || !isValid" (click)="onSubmit()">{{_created ? "Update" : "Create"}}</button>
        <button *ngIf="setup && _created && !_edit" class="btn btn-primary" (click)="_edit = !_edit">Edit</button>
        <button *ngIf="setup && _created && !_edit" class="btn btn-primary" (click)="start()">Start</button>
        <!--<button *ngIf="running" class="btn btn-primary" (click)="play()">Play</button>-->
        <button *ngIf="running && _roundFinished && _currentRound == _tournament.nbRounds - 1" class="btn btn-primary" (click)="close()">Close</button>
        <a [routerLink]="['TournamentList']" class="pull-right">Back</a>
    </div>
</div>
